<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.eclipse.jetty" level="ERROR" />
    <logger name="com.zaxxer.hikari" level="ERROR" />
    <logger name="org.flywaydb" level="ERROR" />
    <logger name="com.palantir.docker.compose.connection.waiting.ClusterWait" level="WARN" />

    <!--<logger name="com.palantir.docker" level="DEBUG" />-->
</configuration>
